# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

# NLP research library that provides an environment for training and evaluating models
allennlp==0.6.0

# Used in training the TfidfVectorizer model for document similarity
scikit-learn==0.19.2

#### TESTING-RELATED PACKAGES ####

# Checks style, syntax, and other useful errors.
pylint==1.8.1
